<div class="container">
	<div class="col-md-12">
		<h2>Aggiungi oggetto</h2><br>
	</div>
	<div class="row form-group">
		<div class="col-md-12">
			Nome Oggetto: <input type="text" data-ng-model="nomeOggetto">
		</div>
		<div class="col-md-12">
			Tempo asta: <input type="number" data-ng-model="tempoAsta">
		</div>
		<div class="col-md-12">
			Categoria: <select data-ng-model="categoria" data-ng-change="caricaAttributi()" data-ng-options="o.nome for o in listCategoria"></select>
		</div>
		<div data-ng-repeat="x in listAttributi" class="col-md-12">
				{{x.nome}}<input type="text" id="attributo_{{$index}}"><br>
		</div>		
	</div>
	<div class="row form-group">
    	<div class="col-md-12">
			<button class="btn btn-primary" data-ng-click="aggiungiOggetto()">Aggiungi</button>	
		</div>
	</div>
</div>