<div class="container">
	<div class="row top-line animate-box">
		<div class="col-md-7 col-md-push-5 text-left intro">
			<h2>Crea nuova categoria</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-md-push-5 text-left intro">
			Nome Categoria: <input type="text" data-ng-model="nome">
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-md-push-5 text-left intro">
			Attributo 1: <input type="text" data-ng-model="att1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-md-push-5 text-left intro">
			Attributo 2: <input type="text" data-ng-model="att2">
		</div>
	</div>

	<div class="row">
		<button data-ng-click="creaCategoria()">Salva</button>	
	</div>
</div>