<div class="container">
	<div class="row top-line animate-box">
		<div class="col-md-7 col-md-push-5 text-left intro">
			<h2>Crea nuova categoria</h2>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12">
			Nome Categoria: <input type="text" data-ng-model="nome">
		</div>
	</div>
	<div class="row form-group">
	    <form class="col-md-12" id="myform">
	    
	    </form>
	</div>
    <div class="row form-group">
    	<div class="col-md-12">
			<button data-ng-click="aggiungitext()" id="addB" class="btn btn-primary">Aggiungi attributo</button>	
			<button data-ng-click="rimuovitext()" id="remB" class="btn btn-primary">Rimuovi attributo</button>	
		</div>	
	</div>
	<div class="row form-group">
		<button data-ng-click="creaCategoria()" class="btn btn-primary">Salva</button>
	</div>
</div>