
<div id="pagina_dettaglio">
	<div id="fh5co-author">
		<div class="container">
		
			<div class="row">
				<div class="row">
					<div class="author">
						<div class="author-inner animate-box" style="background-image: url(img/project-1.jpg);"></div>
						<div class="desc animate-box">
							<span>{{oggetto.categoria.nome}}</span>
							<h3>{{oggetto.nome}}</h3>
							<p>Descrizione</p>
							<ul data-ng-repeat="x in oggetto.attributi" style="text-align: left;">
								<li>{{x.nome}}: valore</li>
							</ul>
							</br>
							<span>
								
							</span>
							<p id="demo"></p>
							<span>
								<input type="text" data-ng-model="importoOfferta" id="importoOfferta" name="importoOfferta">
								<button data-ng-click="doOfferta()">Fai offerta!</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="row row-pt-md portfolio-navigation">
						<div class="col-xs-4 text-left">
							<a href="#" class="btn btn-primary btn-outline"><i
								class="icon-chevron-left"></i></a>
						</div>
						<div class="col-xs-4 text-center">
							<a href="#/home" class="btn btn-primary btn-outline"><i
								class="icon-grid2"></i>Tutte le aste</a>
						</div>
						<div class="col-xs-4 text-right">
							<a href="#" class="btn btn-primary btn-outline"><i
								class="icon-chevron-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
