
<div id="pagina_dettaglio">
	<div id="fh5co-author">
		<div class="container">
		
			<div class="row">
				<div class="row">
					<div class="author">
						<div class="author-inner animate-box" style="background-image: url(img/project-1.jpg);"></div>
						<div class="desc animate-box">
							<span>Categoria</span>
							<h3>Nome oggetto</h3>
							<p>Descrizione sdybcjsdhcisundc isducysbduyc s dbcuys ducy svdytc vsdytcvs dtyv sytdvc sytdvc ysdt s d</p>
							<ul style="text-align: left;">
								<li>Attributo 1 : valore</li>
								<li>Attributo 2 : valore</li>
								<li>Attributo 3 : valore</li>
								<li>Attributo 4 : valore</li>
							</ul>
							</br>
							<span>
								<input type="text" data-ng-model="offerta" id="offerta" name="offerta">
								<button data-ng-click="doOfferta()">Fai offerta!</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="row row-pt-md portfolio-navigation">
						<div class="col-xs-4 text-left">
							<a href="#" class="btn btn-primary btn-outline"><i
								class="icon-chevron-left"></i> Prev </a>
						</div>
						<div class="col-xs-4 text-center">
							<a href="#" class="btn btn-primary btn-outline"><i
								class="icon-grid2"></i> View All</a>
						</div>
						<div class="col-xs-4 text-right">
							<a href="#" class="btn btn-primary btn-outline">Next <i
								class="icon-chevron-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
